<!-- LOADING FONTS [OPEN SANS, QUICKSAND] -->  
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand&display=swap');

<style>
    body {
        background-image: url("img/img_bgHero.jpg");
        background-color: #e3e3e3e3;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 1230px;  
    }
</style>

<!-- NAVIGATION -->   
  header{
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
    position: fixed;
}

.logoContainer {
    position: fixed;
    z-index: 2;
}

.logo {
    cursor: pointer;
}

nav {
    display: flex;
}

.nav_container {
    height: 80px;
    width: 1920px;
    background-color: rgb(255, 230, 132);
    opacity: 90%;
}

.nav_links ul {
    justify-content: flex-end;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}


<!-- HERO -->
.aboutChandra {

}

.letsConnect {
background-color: rgb(0, 0, 0);
color: white;
padding: 64px;
}

.heroContainer {

}

<!-- STATISTICS -->
.Statistic {
    position: fixed;
    height: 784px;
    padding; 64px;
    margin: 64px;
    background-color: #FFE684;
};
}

<!-- FOOTER -->
footer {
    position: fixed;
    height: 104px;
    background-color: #FFE684;
}

<!-- TYPOGRAPHY -->
h1 {
    font-size: 64px;
    margin: 0px 0px;
    color: black;  
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 32px;
    margin: 0px 0px;
    color: black;  
}
    
h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 24px;
    margin: 0px 0px;
    color: black;  
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 0px 0px;
    color: black;   
}

li {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 0px 0px;
    color: black;   
}